<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{email.pw_reset.title}">Password Reset</title>
</head>
<body>
    <p th:text="#{email.greeting(${recipient.firstname})}">Hello User,</p>

    <p th:text="#{email.pw_reset.text1}">We received a request to reset your password. Click the link below to set a new password:</p>

    <p>
        <a th:href="${map.baseUrl} + '/#/reset-password?key=' + ${map.resetKey}"
           th:text="#{email.pw_reset.linkText}">
            Reset your password
        </a>
    </p>

    <p th:text="#{email.pw_reset.copyPaste}">Or copy and paste this link into your browser:</p>
    <p th:text="${map.baseUrl} + '/#/reset-password?key=' + ${map.resetKey}"></p>

    <p th:text="#{email.pw_reset.ignore}">If you did not request a password reset, please ignore this email.</p>

    <hr/>
    <p><small><span th:text="#{email.common.helpCode}">Help Code:</span> <span th:text="${map.helpCode}">CODE</span></small></p>
</body>
</html>
